/* index (HOME) css */

body {
    background-color: rgb(0, 0, 0);
    color: white;
    margin: 0 auto;
    box-sizing: border-box;
}

.heading {
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-family: 'Rowdies', sans-serif;
    font-size: 30px;
    margin-bottom: 0px;
}

.heading img {
    height: 1em;
    margin-top: 3px;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 60px;
    background-color: rgb(0, 0, 0);
    margin-bottom: 0px;
    padding: 0px;
    font-size: larger;
}


.navbar a {
    float: left;
    margin-top: 0px;
    margin-right: 40px;
    color: wheat;
    font-weight: 500;
    text-decoration-line: none;
}

.navbar a:hover {
    color: orange;
    font-weight: 700;
}

.navbar form {
    float: right;

}

.navbar input {
    width: 250px;
    height: 28px;
    border-radius: 4px;
    font-weight: 700;
    transition: 0.3s;
}

.navbar input:focus {
    border-radius: 12px;
    border: 2px solid red;
}

.navbar button {
    height: 32px;
    width: 130px;
    border: 2px solid grey;
    border-radius: 2px;
    background-color: rgb(185, 128, 255);
    transition: 0.2s;
}

.navbar button:hover {
    background-color: yellow;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border-radius: 10px;
}

.intro h1 {
    font-size: 50px;
    color: grey;
    text-align: center;
    margin-top: 12px;
}

.intro p {
    font-size: x-large;
    margin-bottom: 0px;

}

.intro {
    position: relative;
    background-image: url("images/parall.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

/*set opacity of background image in class intro but not affect the opacity of p and h1*/

.intro::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.48;
    width: 100%;
    height: 100%;
}

.intro h1 {
    color: white;
    text-align: center;
    position: relative;
}

.intro p {
    position: relative;
    color: white;
    text-align: center;
}

.latest h1 {
    text-align: center;
    font-size: 40px;
    color: red;
    background-color: rgb(113, 250, 204);
    margin-top: 10px;
    margin-bottom: 10px;
    height: 60px;
    padding-top: 8px;


}

#foot {
    font-weight: 600; 
    font-size: 20px;
    border-top: 1px grey solid;
    background-color: rgb(108, 34, 34);
    /* position: ; */
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    margin-top: 60px;
}



.row {
    display: flex;
}

.column {
    flex: 1;
    border: 2px solid ghostwhite;
    border-radius: 4px;
    height: 400px;
    width: 50%;
    text-align: center;
    transition: 0.5s;
    opacity: 0.6;
}

.column img {
    transition: 0.5s;
}

.column:hover {
    opacity: 1;
    cursor: pointer;
    scale: 1.02;
    border: none;
}



.column img:hover {
    scale: 1.14;

}

@media (width <=341px) {
    .navbar {
        flex-direction: column;
        height: 260px;
    }

    .navbar .headsearch input {
        width: 120px;
    }


}

@media (341px<width<=500px) {
    .navbar .headsearch input {
        width: 180px;
    }

}

@media (width<=750px) {
    .row {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }

    .navbar {
        flex-wrap: wrap;
    }

    .column:hover {
        scale: 1;
        border: 2px solid ghostwhite;
    }

    .column img:hover {
        scale: 1;
    }
}

/* Contact form css  */

/* .contact {
    width: 600px;
    height: 400px;
    box-align: center;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    padding: 200px 400px;
}

.contact input,
textarea {
    margin-right: 50%;
    margin-left: 120px;
}


.contact button {
    margin-left: 50%;
    padding: 4px 10px;
}

button:active {
    background-color: brown;
}

.contacthead h1 {
    display: block;
} */

.container {
    scale: 0.8;
}

.container input,
textarea {
    font-size: 24px;
}

.btn {
    transition: 0.2s;
}

.btn:hover {
    background-color: rgb(202, 75, 24);
    font-weight: 700;
    border-radius: 10px;
}

/* Iphone 15 Ultra */


.bg-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
    height: 100vh;
}

.video-container{
    position: absolute;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    background-repeat: no-repeat;
    left: 0;
}

.video-container video{
    width: 100%;
}

.bg-container .content-container{
    position: relative;
    text-align: center;
    scale: 1.2;
}
.bg-container .content-container h1{
    position: relative;
    font-size: 100px;
    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: white;
    color: transparent;
}

.bg-container .content-container button{
    padding: 16px 26px;    
    font-size: large;
    border-radius: 12px;
    background-color: rgb(226, 228, 151);
    cursor: pointer;
    transition: 0.2s;
}

.bg-container .content-container button:hover{
    background-color: rgb(255, 255, 32);
    border-radius: 16px;
}

/* 

.vid-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 0, 0);
}

.vid-container .bg-video {
    position: absolute;
    top: 1;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit:cover;
    opacity: 0.8;

}

.vid-container .content {
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
    font-size: 70px;
    margin-bottom: 120px;
}

.vid-container .content h1 {
    color: transparent;
    font-size: 70px;

    -webkit-text-stroke-width: 1.2px;
    -webkit-text-stroke-color: white;
}

.vid-container .content button{
    background-color: rgb(109, 107, 21);
    font-size: 40px;
    margin-bottom: 30px;
    padding: 20px 30px;
    border-radius: 40px;
    transition: 0.5s;
    cursor: pointer;
}

.vid-container .content button:hover{
    background-color: rgb(160, 158, 31);
    color: white;
} */

.chip-img{
    text-align: center;
    margin-top: 100px;
}

.chip-img img{
    transition: 0.8s;
}

.chip-img img:hover{
    scale: 1.1;
}

.a17pro{
    margin-top: 6vh;
}
.a17pro h1{
    font-size: 100px;
    text-align: center;
}

.a17pro h2{
    font-size: 50px;
    text-align: center;
    color: rgb(110, 109, 109);
}

.photoes .photoes-desc{
    margin-left: 10vw;
    margin-top: 10vh;
    font-size: 2em;
}

.greyed{
    color: grey;
}

.colored-caption{
    color: yellow;
}

.carousel-caption h1{
    margin-bottom: 80px;
}


@media (width<850px){
    .a17pro h1{
        line-height: 0.9;
    }
    .a17pro{
        scale: 0.9;
    }
    .chip-img img{
        scale: 0.8;
    }
    .chip-img img:hover{
        scale: 0.9;
    }
    .photoes-desc h2{
        font-size: 28px;
    }
    .heading{
        scale: 0.8;
    }
    .carousel-container{
        scale: 0.9;
    }
}

@media (width>850px){
    .carousel-container{
        scale: 0.8;
    }
}

/* Iphone 15 Pro */

.bg-container{
    margin-bottom: 240px;
}

.abt-battery{
    padding: 0px 100px;
}

.abt-battery h1{
    font-size: 110px;
}

.abt-battery .i-15-container{
    text-align: center;
}

.titanium{
    margin-top: 100px;
    margin-left: 100px;
}

.titanium h1{
    font-size:80px;
    line-height: 0.5;
}

.titanium .titanium-container{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 80%;
    margin-left: 100px;
    gap: 10px;
}

.titanium .titanium-container video{
    width: 70%;
}

.titanium .titanium-container .row-container{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 10px;
}

.row-container img{
    width: 35%;
}