/* index (HOME) css */

body {
    background-color: rgba(188, 84, 166, 0.242);
}

.heading h1 {
    background-color: rgb(151, 99, 255);
    text-align: center;
    margin-top: 2px;
    margin-bottom: 0;
    font-size: 36px;
    padding: 10px;
}

.heading h1 img{
    height:30px;
    margin-top: 4px;
}

.navbar li {
    float: left;
    overflow: auto;
    padding: 4px 16px;
    list-style: none;
}

.navbar ul {
    overflow: auto;
    margin-top: 0px;
    padding: 4px;
}

.navbar {
    background-color: coral;
    margin: 4px 2px;
}

.navbar li a:hover {
    color: yellow;
}

.navbar li a {
    color: rgb(56, 42, 112)
}

.intro {
    background-color: blanchedalmond;
}

#foot span {
    display: block;
    text-align: center;
    background-color: darkgray;
}

.navbar form {
    float: right;
    padding: 2px 4px;
}

.latest {
    background-color: burlywood;
}

.latest p,
ol {
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.latest img {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    display: block;
    width: 350px;
    height: 200px;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: lightsalmon;
    color: rgb(212, 255, 55);
}

.headsearch input[type="text"] {
    color: blue;
    font-weight: bold;
}

.headsearch {
    overflow: auto;
}

.latest p::selection{
    background-color: greenyellow;
}

#foot div{
    background-color: #ccd5ae;
    height: 100px;
    border: 2px solid red;
    font-size:14px;
    font-family: Young Serif;
}

#foot ul{
    list-style: none;
    margin-left: 30px;
}
#foot div a{
    text-decoration: none;
    color:dimgray
}

#foot div a:hover{
    text-decoration: underline;
}

/* Contact form css  */



.contact {
    width: 600px;
    height: 400px;
    box-align: center;
    border: 2px solid lightseagreen;
    border-radius: 10px;
    padding: 200px 400px;
}

.contact input,
textarea {
    margin-right: 50%;
    margin-left: 120px;
}


.contact button {
    margin-left: 50%;
    padding: 4px 10px;
}

button:active {
    background-color: brown;
}

.contacthead h1{
    display: block;
}